<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Activate account</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }

      @media screen and (max-width: 920px) {
        table[width="800"] {
          width: 90%;
        }

        table[width="520"] {
          width: 75%;
        }

        td[height="90"] {
          height: 32px;
        }
      }

      @media screen and (max-width: 720px) {
        table[width="520"] {
          width: 100%;
        }
      }
    </style>
  </head>

  <body>
    <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #e5e5e5">
      <!-- margin -->
      <tr>
        <td height="90"></td>
      </tr>
      <!-- margin:end -->

      <!-- content -->
      <tr>
        <td>
          <table
            width="800"
            cellpadding="0"
            cellspacing="0"
            style="
              margin: 0 auto;
              padding: 24px 32px 32px;
              background-color: #ffffff;
              border-top: 8px solid #00583d;
            "
          >

            <tr>
              <td style="border-bottom: 1px solid #eaeaea"></td>
            </tr>

            <tr>
              <td height="24"></td>
            </tr>

            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" width="520">
                  <tr>
                    <td>
                      <span
                        style="
                          color: #272727;
                          font-size: 24px;
                          font-weight: 400;
                          line-height: 36px;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                        "
                        >One last thing before you log in ...
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td height="24"></td>
                  </tr>

                  <tr>
                    <td>
                      <span
                        style="
                          color: #272727;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 24px;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                        "
                        >Would you mind clicking the button below? It's just to make sure we have the right email for you.</span
                      >
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <span
                        style="
                          color: #272727;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 24px;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                        "
                        >Once you confirm your email we will take you to the login page.</span
                      >
                    </td>
                  </tr>

                  <tr>
                    <td height="24"></td>
                  </tr>

                  <tr>
                    <td>
                      <a
                        href="<%= activationURL %>"
                        target="_blank"
                        style="
                          font-size: 16px;
                          font-weight: 400;
                          line-height: 24px;
                          color: #ffffff;
                          padding: 10px 32px;
                          border-radius: 40px;
                          display: inline-block;
                          text-decoration: none;
                          background-color: #00583d;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                        "
                        >Confirm and log in</a
                      >
                    </td>
                  </tr>

                  <tr>
                    <td height="24"></td>
                  </tr>

                  <tr>
                    <td>
                      <span
                        style="
                          color: #272727;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 24px;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                        "
                        >If you have any questions please
                        <a href="mailto:hello@heylady.io" target="_blank" style="text-decoration: none; color: #d0722b"
                          >Contact Support</a
                        >.</span
                      >
                    </td>
                  </tr>

                  <tr>
                    <td height="32"></td>
                  </tr>

                  <tr>
                    <td>
                      <span
                        style="
                          color: #272727;
                          font-size: 18px;
                          font-weight: 400;
                          line-height: 28px;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                        "
                        >Best regards,</span
                      >
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <span
                        style="
                          color: #272727;
                          font-size: 18px;
                          font-weight: 400;
                          line-height: 28px;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                        "
                        ><span style="font-style: italic;">Hey Lady!</span> Team.</span
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- content:end -->

      <!-- margin -->
      <tr>
        <td height="90"></td>
      </tr>
      <!-- margin:end -->
    </table>
  </body>
</html>
