<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Welcome to Knotanki!</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }

      @media screen and (max-width: 920px) {
        table[width="800"] {
          width: 90%;
        }

        table[width="520"] {
          width: 75%;
        }

        td[height="90"] {
          height: 32px;
        }
      }

      @media screen and (max-width: 720px) {
        table[width="520"] {
          width: 100%;
        }
      }
    </style>
  </head>

  <body>
    <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #e5e5e5">
      <!-- margin -->
      <tr>
        <td height="90"></td>
      </tr>
      <!-- margin:end -->

      <!-- content -->
      <tr>
        <td>
          <table
            width="800"
            cellpadding="0"
            cellspacing="0"
            style="margin: 0 auto; padding: 24px 32px 32px; background-color: #ffffff; border-top: 8px solid #00583d"
          >

            <tr>
              <td style="border-bottom: 1px solid #eaeaea"></td>
            </tr>

            <tr>
              <td height="24"></td>
            </tr>

            <tr>
              <td>
                <span
                  style="
                    color: #272727;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    font-family: 'Gibson', Helvetica, Arial, sans-serif;
                  "
                  >[KEEP THIS] This email includes some important information about your account, so make sure you
                  keep it somewhere safe!</span
                >
              </td>
            </tr>

            <tr>
              <td height="24"></td>
            </tr>

            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" width="800">
                  <tr>
                    <td>
                      <span
                        style="
                          color: #272727;
                          font-size: 24px;
                          font-weight: 400;
                          line-height: 36px;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                        "
                        >Welcome to <i>Knotanki!</i>, <%= firstName %>!
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td height="24"></td>
                  </tr>

                  <tr>
                    <td>
                      <span
                        style="
                          color: #272727;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 24px;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                        "
                        ><span style="font-weight: 400">Ok, let's get you set up!</span>
                    </td>
                  </tr>

                  <tr>
                    <td height="24"></td>
                  </tr>

                  <tr>
                    <td>
                      <span
                        style="
                          color: #272727;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 24px;
                          font-family: 'Gibson', Helvetica, Arial, sans-serif;
                          margin-left: 10px;
                        "
                        >Log in with <%= email %> and the password you just created! 
                    </td>
                  </tr>

      <tr>
        <td height="24"></td>
      </tr>

      <tr>
        <td>
          <span
            style="
              color: #272727;
              font-size: 16px;
              font-weight: 300;
              line-height: 24px;
              font-family: 'Gibson', Helvetica, Arial, sans-serif;
            "
            >Knotanki! Team</span>
        </td>
      </tr>
    </table>
  </td>
</tr>

            
          </table>
        </td>
      </tr>
      <!-- content:end -->

      <!-- margin -->
      <tr>
        <td height="90"></td>
      </tr>
      <!-- margin:end -->
    </table>
  </body>
</html>
